/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;600;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --non-sat-blue: #666CA3;
  --very-dark-blue: #13183F;
  --grey: #83869A;
  --pink: #F74780;
  --non-sat-pink: #FFA7C3;
  --pure-white: #fff;
  --orange-to-pink-grad: linear-gradient(to bottom, #F02AA6, #FF6F48);
  --blue-to-pink-grad: linear-gradient(to bottom, #4851FF, #F02AA6);
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  background: linear-gradient(to bottom, var(--pure-white), hsla(237, 100%, 64%, 7%));
}

p {
  color: var(--grey);
}

h1 {
  font-size: 3.111rem;
  line-height: 3.889rem;
}

h2 {
  font-size: 1.778rem;
  line-height: 2.222rem;
}

h3 {
  font-size: 1.333rem;
  line-height: 1.556rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.556rem;
}

a {
  text-decoration: none;
}

/* Desktop styles */
.container {
  overflow: hidden;
}
.top-nav {margin-top: 1.333rem;}

.get-started {
  padding: 0.778rem 1.778rem;
  background-color: var(--very-dark-blue);
  color: var(--pure-white);
  border-radius: 1.556rem;
}

.get-started h4 {
  color: white;
}

main, .bottom-nav {
  border: 1px solid dodgerblue;
}

.top-nav, .header, main, .top-nav {
  padding: 0 9.167rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9.167rem;
}

.header {
  display: flex;
  margin-top: 9.556rem;
  height: 32.111rem;
  align-items: center;
}

.max-skill, .hero-img {
  width: 50%;

}

.max-skill {
  height: 19.944rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5.5rem;
}

.hero-img {
  align-self: flex-end;
}

.hero-img img {
  display: block;
  height: 52.056rem;
  width: auto;
}

.header .get-started {
  width: 10rem;
  background-image: var(--orange-to-pink-grad);
}






